<link rel="apple-touch-icon" sizes="180x180" href="/img/favicon/apple-touch-icon.png?v=vMd6N7xKYd">
<link rel="icon" type="image/png" sizes="32x32" href="/img/favicon/favicon-32x32.png?v=vMd6N7xKYd">
<link rel="icon" type="image/png" sizes="16x16" href="/img/favicon/favicon-16x16.png?v=vMd6N7xKYd">
<link rel="manifest" href="/img/favicon/site.webmanifest?v=vMd6N7xKYd">
<link rel="mask-icon" href="/img/favicon/safari-pinned-tab.svg?v=vMd6N7xKYd" color="#5bbad5">
<link rel="shortcut icon" href="/img/favicon/favicon.ico?v=vMd6N7xKYd">
<meta name="apple-mobile-web-app-title" content="LoopNaz">
<meta name="application-name" content="LoopNaz">
<meta name="msapplication-TileColor" content="#da532c">
<meta name="msapplication-config" content="/img/favicon/browserconfig.xml?v=vMd6N7xKYd">
<meta name="theme-color" content="#ffffff">
