<meta property="og:title" content="{{ .Params.Title }}" />
<meta property="og:type" content="article" />
<meta property="og:url" content="{{ .Site.BaseURL }}" />
{{ if .Params.thumbnail }}
<meta property="og:image" content="{{ (print "/img/" .Params.thumbnail.type "/" .Params.thumbnail.src "." .Params.thumbnail.type) }}" />
{{ else }}
<meta name="twitter:image" content="{{ (print "/img/png/logo-square.png") }}">
{{ end }}
{{ if .Params.meta.description }}
<meta property="og:description" content="{{ .Params.meta.description }}" />
{{ else }}
<meta property="og:description" content="{{ .Content }}" />
{{ end }}
<meta property="og:site_name" content="{{ .Site.Title }}" />
<meta property="fb:admins" content="{{ .Site.Params.social.facebookID }}" /> 
