{{ $base := resources.Get "css/style.css" }}
{{ $bylaws := resources.Get "css/bylaws.css" }}
{{ $form := resources.Get "css/form.css" }}
{{ $home := resources.Get "css/home.css" }}
{{ $list := resources.Get "css/list.css" }}
{{ $post := resources.Get "css/post.css" }}
{{ if .Params.form }}
	{{ $style := slice $base $form | resources.Concat "bundle-form.css" | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}"/>
{{ else if .IsHome }}
	{{ $style := slice $base $home | resources.Concat "bundle-home.css" | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}"/>
{{ else if or (and (eq .Kind "section") (and (ne .Type "bylaws") (ne .Type "conflict-of-interest"))) (eq .Kind "taxonomy") }}
	{{ $style := slice $base $list | resources.Concat "bundle-list.css" | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}"/>
{{ else if or (eq .Type "bylaws") (eq .Type "conflict-of-interest") }}
	{{ $style := slice $base $bylaws | resources.Concat "bundle-bylaws.css" | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}"/>
{{ else if eq .Type "post" }}
	{{ $style := slice $base $post | resources.Concat "bundle-post.css" | minify | fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}"/>
{{ else }}
	{{ $style := $base }}
	<link rel="stylesheet" href="{{ $style.Permalink }}"/>
{{ end }}
