<meta name="twitter:card" content="summary_large_image">
<meta name="twitter:site" content="@{{ .Site.Params.social.twitter }}">
<meta name="twitter:title" content="{{ .Params.Title }}">
{{ if .Params.meta.description }}
	<meta name="twitter:description" content="{{ .Params.meta.description }}">
{{ else }}
	<meta name="twitter:description" content="{{ .Content | truncate 200 }}">
{{ end }}
{{ if .Site.Params.author.twitter }}
<meta name="twitter:creator" content="@{{ .Site.Params.author.twitter }}">
{{ else }}
<meta name="twitter:creator" content="@{{ .Site.Params.social.twitter }}">
{{ end }}
{{ if .Params.socialImage }}
<meta name="twitter:image" content="{{ (print "img/" .Params.socialImage.type "/" .Params.socialImage.src "." .Params.socialImage.type) | absURL }}">
<meta name="twitter:image:alt" content="{{ .Params.socialImage.alt }}">
{{ else if  .Params.thumbnail }}
<meta name="twitter:image" content="{{ (print "img/" .Params.thumbnail.type "/" .Params.thumbnail.src "." .Params.thumbnail.type) | absURL }}">
<meta name="twitter:image:alt" content="{{ .Params.thumbnail.alt }}">
{{ else }}
<meta name="twitter:image" content="{{ (print "img/png/from-skydeck-southeast.png") | absURL }}">
<meta name="twitter:image:alt" content="The Loop Church of the Nazarene and Compassionate Ministries (Chicago)">
{{ end }}
