/* Bylaws */

.bylaws-articles {
	display: block;
	counter-reset: article;
}

.bylaws-articles,
.bylaws-article-sections {
	list-style: none;
	padding: 0;
}

.content,
.bylaws-article {
	counter-reset: section;
}

.bylaws-article::before {
	content: "Article " counter(article, upper-roman) ". ";
	counter-increment: article;
	font-size: x-large;
}

.bylaws-article-section::before {
	content: "Section " counter(section, decimal) ". ";
	counter-increment: section;
	margin-left: 4ch; 
	font-size: 1.15em;
}

.bylaws-article::before,
.bylaws-article-section::before,
.inline-subhead {
	font-weight: 900;
}

.bylaws-preamble,
.bylaws-article {
	text-align: center;
}

.bylaws-article ol,
.bylaws-preamble p,
.bylaws-article p {
	text-align: left;
}

.bylaws p {
	text-indent: 4ch;
}

.bylaws-preamble p, 
.bylaws-article p, 
.bylaws-article-section {
	margin-top: 1em;
}

.bylaws h1 {
	font-size: xx-large;
}

.bylaws h2,
.bylaws h3,
.inline-subhead + p {
	display: inline;
}

.bylaws-articles ol:not(.bylaws-article-sections) {
	margin: 1em auto 1em 8ch;
	padding: 0;
}

.inline-subhead {
	font-size: 1.15em;
}
