form {
	display: grid;
	width: 100%;
	min-width: calc(320px - 2em);
	margin-bottom: 2em;
}

label {
	display: block;
	font-weight: 600;
}

button {
	max-width: 25vw;
}

input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	white-space: normal;
}

textarea {
	overflow: auto;
}

form button {
	border-color: #000;
	color: #000;
}

form button:focus,
form button:hover {
	color: #fff;
	background-color: #000;
	opacity: 1;
}

input[type="text"],
input[type="email"],
textarea {
	border: 1px solid;
	border-radius: 15px;
	padding: 3px 7px;
	margin: 7px 0;
}

textarea {
	resize: none;
}

input:focus,
textarea:focus {
	border: 1px solid rgba(0,161,222,0.44);
	box-shadow: 3px 3px 3px 1px rgba(0,161,222,0.77);
}
