.home {
	display: grid;
}

.home {
	grid-template-columns: repeat(auto-fit, minmax(auto, 50vw));
}

.home main {
	width: 100vw;
}

.home svg {
	max-width: 50vw;
}

.home .center svg {
	max-width: unset;
}

.home nav ul {
	grid-template-rows: repeat(auto, 1fr);
}

.home section {
	background-color: rgba(0,0,0,0.44);
	padding-top: 3em;
}
