{{ define "main" }}
	<main id="main">
		<article>
			{{if isset .Params "thumbnail" }}
			<header class="background-image" style="background-image:url({{ (print "/img/" .Params.thumbnail.type "/" .Params.thumbnail.src "." .Params.thumbnail.type) }}); {{if .Params.thumbnail.position}}background-position:{{.Params.thumbnail.position}};{{end}}">
				<h1>{{ .Title}}</h1>
				<p>{{.Params.thumbnail.alt}}</p>
			{{else}}
			<header>
				<h1>{{ .Title}}</h1>
			{{end}}
			</header>
			<section class="content">
				{{if isset .Params "epigraph" }}
					<blockquote>
						{{.Params.epigraph.text | safeHTML}}
						<cite>{{.Params.epigraph.src}}</cite>
					</blockquote>
				{{end}}
				{{ .Content }}
			</section>
		</article>
	</main>
{{ end }}
